<div class="col-3 sidebar g-0 border-start border-secondary">
    <a class="text-reset text-decoration-none" href="{{url_for('account')}}">
        <div class="sidebar-element p-2 border-top border-secondary">
            <i class="bi bi-person-circle"></i>
            Account
        </div>
    </a>
    <a class="text-reset text-decoration-none" href="{{url_for('following')}}">
        <div class="sidebar-element p-2 border-top border-secondary">
            <i class="bi bi-people-fill"></i>
            Following
        </div>
    </a>
    <a class="text-reset text-decoration-none" href="{{url_for('analysis')}}">
        <div class="sidebar-element p-2 border-top border-secondary">
            <i class="bi bi-graph-up"></i>
            Analysis
        </div>
    </a>
    <a class="text-reset text-decoration-none" href="{{url_for('trends')}}">
        <div class="sidebar-element p-2 border-top border-secondary">
            <i class="bi bi-arrow-down-up"></i>
            Trends
        </div>
    </a>
    <a class="text-reset text-decoration-none" href="{{url_for('portfolio')}}">
        <div class="sidebar-element p-2 border-top border-secondary">
            <i class="bi bi-briefcase-fill"></i>
            Portfolio
        </div>
    </a>
    <a class="text-reset text-decoration-none" href="{{url_for('chatroom')}}">
        <div class="sidebar-element p-2 border-top border-secondary">
            <i class="bi bi-chat-left-dots-fill"></i>
            Chat Room
        </div>
    </a>
    <a class="text-reset text-decoration-none" href="{{url_for('leaderboard')}}">
        <div class="sidebar-element p-2 border-top border-secondary">
            <i class="bi bi-trophy-fill"></i>
            Leaderboard
        </div>
    </a>
    <a class="text-reset text-decoration-none" href="{{url_for('trade')}}">
        <div class="sidebar-element p-2 border-top border-bottom border-secondary">
            <i class="bi bi-arrow-left-right"></i>
            Trade
        </div>
    </a>
</div>
