{% import 'main/widgets/largeStockWidget.html' as largeStockWidget %}
<div class="stockRow row-cols-3">
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://pngimg.com/uploads/microsoft/microsoft_PNG5.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
    {{ largeStockWidget.input(imagelink='https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png', percent='+1.23', value='$123')}}
</div>