{% extends 'login.html' %}
{% block title %}Forgot Password{% endblock %}
{% block form %}
<div class="explaination">
    <body>
        Please enter the email address linked with your account, we will send an OTP to verify your identity.
    </body>
</div>
<div class="form-floating mt-4">
    <input type="email" name="recoveryEmail" id="recoveryEmail" class="form-control" placeholder="email" />
    <label class="form-label" for="loginEmail">Email address</label>
</div>
{% endblock %}
{% block signon %}Submit{% endblock %}